@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body ,  .MuiTypography-root {
  font-family: 'Poppins', sans-serif, !important;
}